node_modules/
dist/
.vercel/

.env
.env.local
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/

cv/*.aux
cv/*.log
cv/*.out
cv/*.toc
cv/*.fls
cv/*.fdb_latexmk
cv/*.xdv
cv/*.synctex.gz
